SNOWFLAKE_ACCOUNT="your_account_identifier"
SNOWFLAKE_USER="your_user"
SNOWFLAKE_PRIVATE_KEY_PATH="rsa_key.pem"
SNOWFLAKE_ROLE="YOUR_ROLE"
SNOWFLAKE_WAREHOUSE="YOUR_WAREHOUSE"
SNOWFLAKE_DATABASE="YOUR_DATABASE"
SNOWFLAKE_SCHEMA="YOUR_SCHEMA"
CORTEX_AGENT_NAME="YOUR_AGENT_NAME"



